
.calculator {
  position: absolute;
  left: 30%;
  top: 10%;
  border: black solid 5px;
  width: 550px;
  height: 700px;
  display: flex;
}

.display {
  /* align-self: center; */
  position: relative;
  top: 5%;
  left: 1%;
  height: 10%;
  margin: 10px 10px 10px 10px;
  width: 90%;
  border: red solid 6px;
}

#screen {
    position: absolute;
    top: -50px;
    right: 0px;
    font-size: 60px;
}

.buttons {
    position: absolute;
    top: 20%;
    left: 3%;
    height: 75%;
    width: 91%;
    border: blue solid 4px;
}

.row {
  margin-top: 10px;
  height: 20%;
  border: green solid 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-basis: auto; */
}

.short-row {
    margin-top: 10px;
    height: 15%;
    border: green solid 2px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    /* flex-basis: auto; */
}


.small-button {
  position: relative;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  width: 20%;
  /* width: 100%; */

}

#equals-column {
    border: purple solid 2px;
    position: relative;
    width: 20%;
    height: 65%;
    top: -66%;
    left: 76%;
}

#equals-btn {
  position: relative;
  height:100%;
  width: 100%;
  font-size: 30px;
}
